<!DOCTYPE html>
<html>

<head>
    <title>RE=Search!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>

</head>
<header>
    <h1 class='align-self-center'>
        Research Aggregator for Students, PaaS Application
    </h1>
    <h3 class='align-self-center'>
        CSE 546 Cloud Computing by Dr. Ming Zhao
    </h3>
    <h4 class='align-self-end'>
        Project by Soham Sahare, Shreya Patel and Sai Srinivas &emsp;
    </h4>
</header>

<body>
    <br>
    <div id='container'>
        {% if is_get %}
        <div class='card'>
            <h5 class="card-header">
                Input for Research Aggregator
            </h5>
            <div class="card-body">
                <form method=post enctype=multipart/form-data action='/'>
                    <div class="mb-3">
                        <label for="link-input" class="form-label">Add faculty page URL of the University</label>
                        <input type=text name=text class="form-control" id="link-input"
                            value="https://cidse.engineering.asu.edu/faculty/" readonly
                            aria-describedby="text-url-help">
                        <div id="text-url-help" class="form-text">Only supports ASU, CIDSE department for the scope of
                            this demo
                        </div>

                    </div>
                    <button type="submit" value=Upload class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <br>
        {% else %}
        <div class="card">
            <h5 class="card-header">
                Input for Research Aggregator
            </h5>
            <div class="card-body">
                <h5 class="card-title">
                    Request Successful...
                </h5>
                <button type="submit" onclick="CreateTableFromJSON()"></button>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <h5 class="card-header">
                                Results:
                            </h5>
                            <div class="card-body">
                                <div id="results" class='container'>
                                    <div class="row" id='log-container-1'>
                                    </div>
                                </div>
                                <p id="showData"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script></script>
    <script>
        function CreateTableFromJSON() {
            var newobj = [{
                "url": "https://gsfdfuhshahj.com",
                "abstract": "gwdgfgsa agsdsygdha ausdyauisydiays ",
                "keywords": "wygdfsa ahsvdgfsdg",
                "professor": "ming zhao",
                "id": "1hfgf2"
            }, {
                "url": "https://gsfdfuhshahj.com",
                "abstract": "gwdgfgsa agsdsygdha ausdyauisydiays ",
                "keywords": "wygdfsa ahsvdgfsdg",
                "professor": "ming zhao",
                "id": "1hfgf2"
            }];
            var col = [];
            for (var i = 0; i < newobj.length; i++) {
                for (var key in newobj[i]) {
                    if (col.indexOf(key) === -1) {
                        col.push(key);
                    }
                }
            }
            var table = document.createElement("table");
            var tr = table.insertRow(-1);

            for (var i = 0; i < col.length; i++) {
                var th = document.createElement("th");      // TABLE HEADER.
                th.innerHTML = col[i];
                tr.appendChild(th);
            }

            // ADD JSON DATA TO THE TABLE AS ROWS.
            for (var i = 0; i < newobj.length; i++) {

                tr = table.insertRow(-1);

                for (var j = 0; j < col.length; j++) {
                    var tabCell = tr.insertCell(-1);
                    tabCell.innerHTML = newobj[i][col[j]];
                }
            }

            // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
            var divContainer = document.getElementById("showData");
            divContainer.innerHTML = "";
            divContainer.appendChild(table);
        }
    </script>
</body>

</html>